*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.title {
  text-align: center;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;

  &:focus {
    outline: none;
  }
}